# =====================# Python# =====================__pycache__/*.py[cod]*.so*.egg*.egg-info/dist/build/# =====================# Virtual environments# =====================venv/.venv/env/env.bak/venv37/# =====================# Logs & temp files# =====================*.log*.tmp*.swp.DS_Store# =====================# IDE & Editors# =====================.vscode/.idea/# =====================# Models & datasets# =====================*.pt*.onnx*.pth*.weights*.ckpt# =====================# Yolov5 submodule# =====================yolov5/# =====================# Large binaries (DLL, LIB, PYD)# =====================*.dll*.pyd*.lib*.exe# =====================# TensorRT / TF build# =====================*.plan*.uff*.tflite*.pb